<!--<h1 [title]="title">Demo Program</h1>-->
<!--<h2 *ngIf="hide && hide.startsWith('a')">{{hide}}</h2>-->
<!--<h2 *ngFor="let i of hides">{{i}}</h2>-->
<!--<h2>{{inputText | uppercase}}</h2>-->
<!--<input type = "text" [(ngModel)]='inputText' [placeholder]="defaultMessage"/>-->
<!--<br>-->
<!--<input type = "text" (keyup)="getInput($event)"/>-->

<!--<br>-->
<!--<app-product-list></app-product-list>-->
<nav class="navbar navbar-expand navbar-light bg-light">
<a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link" [routerLink]="['/welcome']">Home</a></li>
    <li><a class="nav-link" [routerLink]="['/products']">Product</a></li>
  </ul>
</nav>
<div id="body">
  <router-outlet></router-outlet>
</div>
